In [1]:
import pandas as pd

In [3]:
file_path = 'Motor_Vehicle_Registrations_Dashboard_data.csv'
df = pd.read_csv(file_path)

In [4]:
df.head()

   year       state   Auto  Bus  Truck  Motorcycle
0  1900     Alabama   40.0  0.0    0.0         0.0
1  1900      Alaska    0.0  0.0    0.0         0.0
2  1900     Arizona   20.0  0.0    0.0         0.0
3  1900    Arkansas   20.0  0.0    0.0         0.0
4  1900  California  780.0  0.0    0.0         0.0